.App {
  text-align: center;
}

body {
  background-color: black;
  background-image: url("https://wallpaperscraft.com/image/guardians_of_the_galaxy_raccoon_rocket_98783_1920x1200.jpg");
  color: white;
}

input{
  width: 75%;
  margin-top: 216px;
  height: 41px;
  font-size: 30px;
}

.searchButton{
  height: 41px;
  font-size: 30px;
  margin-left: 15px;
}

h1{
  width: 100%;
  background-color: white;
  height: 70px;
  color: #444;
  text-align: center;
  text-indent: inherit;
}
